img {
    width: 400px;
    height: 225px;
}

#container{
    width: 810px;
}
#description {
    width: 600px;
    height: 300px;
    border: 1px solid black;
    margin: auto;
}
h1 {
    text-align: center;
}
h3 {
    margin-left: 10px;

}
h4 {
    margin-left: 10px;
}